{% extends "layout.html" %}

{% block css_files %}
<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar_left %}
<ul class="nav navbar-nav">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="https://github.com/Evensgn/DS2018-frontend-demo">Source</a></li>
  <li><a href="#">Nothing</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Search for trains</a></li>
      <li><a href="#">Book tickets</a></li>
      <li><a href="#">Become VIP</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">This part</li>
      <li><a href="#">is just a</a></li>
      <li><a href="#">blank sample</a></li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block navbar_right %}
<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="#">Log in</a></li>
  <li><a href="{{ url_for('signup') }}">Sign up</a></li>
</ul>
{% endblock %}

{% block body %}
<div class="form-container jumbotron">
  {% if err_info %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ err_info }}
  </div>
  {% endif %}
  <form class="form-signin" action="{{ url_for('signin') }}" method="post">
    <h2 class="form-signin-heading">Log in with your account ID</h2>
    <label for="inputID" class="sr-only">Account ID</label>
    <input type="userid" id="inputID" name="userid" class="form-control" placeholder="Account ID" pattern="[0-9]+" title="ID should be an integer" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" pattern="[0-9A-z]+" title="password should only contain digits and letters" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="signin-hint" style="font-size: 15px;">Don't have an account yet? Register one for free now! <a href="{{ url_for('signup') }}">Sign Up</a></p>
  </form>
</div>
{% endblock %}