{% extends "layout.html" %}

{% block css_files %}
<link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar_left %}
<ul class="nav navbar-nav">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="https://github.com/Evensgn/DS2018-frontend-demo">Source</a></li>
  <li><a href="#">Nothing</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Search for trains</a></li>
      <li><a href="#">Book tickets</a></li>
      <li><a href="#">Become VIP</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">This part</li>
      <li><a href="#">is just a</a></li>
      <li><a href="#">blank sample</a></li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block navbar_right %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="{{ url_for('signin') }}">Log in</a></li>
  <li class="active"><a href="#">Sign up</a></li>
</ul>
{% endblock %}

{% block body %}
<div class="form-container jumbotron">
  {% if err_info %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ err_info }}
  </div>
  {% endif %}
  <form class="form-signup" action="{{ url_for('signup') }}" method="post">
    <h2 class="form-signup-heading">Register an account for free!</h2>
    <label for="inputName" class="sr-only">Your name</label>
    <input type="text" id="inputName" name="name" class="form-control" placeholder="Your name" pattern="[0-9A-z]+" title="name should only contain digits and letters" required autofocus>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" pattern="^[A-Za-zd]+([-_.][A-Za-zd]+)*@([A-Za-zd]+[-.])+[A-Za-zd]{2,5}$" title="email address" required autofocus>

    <label for="inputPhone" class="sr-only">Phone number</label>
    <input type="text" id="inputPhone" name="phone" class="form-control" placeholder="Phone number" pattern="[0-9]+" title="number should contain digits only"  required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" pattern="[0-9A-z]+" title="password should only contain digits and letters" required>

    <label for="irepeatPassword" class="sr-only">Repeat password</label>
    <input type="password" id="repeatPassword" name="repassword" class="form-control" placeholder="Repeat password" pattern="[0-9A-z]+" title="password should only contain digits and letters" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}